<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise2_TiketBioskop_14.Properties.Settings.TiketBioskopConnectionString"
            connectionString="Data Source=LAPTOP-67G15PD7\LISAA;Initial Catalog=TiketBioskop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>